:root {
  /* --font-stack: 'Nunito Sans', sans-serif; */
  --font-stack: 'Montserrat', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --color-text: #151515;
  --color-text-subtle: #8e8e8e;
  --color-ui: #06c;
  --color-border: #ccc;
  --drop-shadow: 0 0 5px rgba(0,0,0,.2);
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font: var(--font-size)/var(--line-height) var(--font-stack);
  color: var(--color-text);
}

#page {
  height: 100vh;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header"
                       "main"
                       "footer";
}

header {
  grid-area: header;
  padding: 3rem 1rem 1rem;
  text-align: center;
}

header h1 {
  display: inline-block;
  margin: 0 0 1rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  line-height: 1em;
  font-weight: 200;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-border);
}

header .title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

main {
  grid-area: main;
  display: grid;
}

#works {
  margin: 0;
  padding: 0 2rem;
  list-style: none;
  place-self: center;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

#works li {
  display: flex;
  width: 100%;
}

#works a {
  display: flex;
  padding: 2rem;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 3px;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-ui);
  flex-direction: column;
  box-shadow: var(--drop-shadow);
}

#works a:hover {
  border-color: var(--color-ui);
  box-shadow: none;
}

#works .photo {
  width: calc(100% + 4rem);
  height: 14rem;
  margin: -2rem -2rem 0.5rem;
  overflow: hidden;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

#works img {
  width: 100%;
  object-fit: cover;
  object-position: center -4rem;
}

#works .desc {
  margin-top: 0.5rem;
  color: var(--color-text-subtle);
  font-size: 0.875rem;
  font-weight: 400;
}

footer {
  grid-area: footer;
  padding: 1rem;
  text-align: center;
  font-size: 0.875rem;
}

@media screen and (min-width: 600px) {
  #works {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  #works li {
    width: 40vw;
  }
}

@media screen and (min-width: 900px) {
  #works li {
    width: 25vw;
  }
}
